{
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
  },
  "env": {
    "browser": true,
    "jest": true,
  },
  "settings": {
    "react": {
      "version": "0.0.0",
    },
  },
}
